body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
a{
    text-decoration: none;
    color: #FFF;
}
li{
    list-style: none;
}
ul{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%
    height: 900px;
    margin: auto;
    background: #FFF;
}

.container > .dashboard{
        display: grid;
        grid-template-columns: 0.5fr 1fr 3fr;
        grid-template-rows: 1fr;
        grid-column-gap: 0fr;
        grid-row-gap: 0px;
}

/* Main menu */

.container .mainmenu{
    font-family: Arial, Helvetica, sans-serif
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    display: flex;
    padding: 24px;
    justify-content: center;
    flex-direction: column;
    background: #000;
    color: #FFF;
}

div.menu{
    margin-bottom: 80px;
}
.fa-solid{
    color: #FFF;
}
.logo{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    height: 78px;
}

ul.menu{
    border-bottom: 1px solid rgba(255, 255,255,0.20);
    margin-bottom: 24px;
}

ul a i{
    margin-right: 10px;
}
ul.submenu{
    margin-top: 24px;
}
.header{
    color: rgba(255, 255, 255, 0.20);
}
.menu li{
    margin-bottom: 24px;
}

#logout{
    width: 192px;
    height: 48px;
    padding: 0 46px 0 46px;
    background: rgba(255, 255, 255, 0.20);
    color: #FFF;
    border-radius: 8px;
    cursor: pointer;
    border: none;
}

/* Today Part */

.today{
    background: #F8F7F1;
    width: 344px;
    padding: 32px 28px;
}

.today > div{
    width: 288px;
    border: none;
    border-radius: 8px;
    background-color: #FDFDFD;
    padding: 24px;
    margin-top: 16px;
}

.today >h4{
    margin-bottom: -2px;
    margin-top: -5px;
}

.today > div >.header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(163, 162, 162);
    padding-bottom: 12px;
}

.today > div .tag{
    font-size: 12px;
    background: rgba(163, 163, 163, 0.20);
    padding: 3px;
}

.today > div > .content > .price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.today > .income > .content > .price > span{
    color: red;
}

.today > .expences > .content > .price > span{
    color: green;
}

.today > div > .content > .footer{
    display: flex;
    justify-content: space-between;
}

.today p{
    color: #656575;
    font-size: 14px;
    margin-top: -2px;
}

.today span{
    color: black;
}

.display .header{
    display: flex;
    justify-content: end;
}

.display i{
    color: #656575;
    width: 24px;
}
.display .search{
    margin: 28px
}

.display #search{
    height: 48px;
}

.available{
    padding: 32px 28px 40px 28px;
    box-shadow:  0px 8px 24px 0px rgba(69, 69, 80, 0.10);
    border-radius: 8px;
    margin: 20px 28px;
}

.available .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.available .content >.car{
    border: 1px solid gray;
    padding: 12px 16px;
    border-radius: 8px;

}

.available .content .car{
    width: 213px;
    display: flex;
    align-items: center;
}

.available .content .car .arrow{
    margin-left: 38%;
}
.available .content .date{
    display: flex;
}

.available .content .date .tarikh{
    width: 156px;
    border: 1px solid gray;
    padding: 12px 16px;
    border-radius: 8px 0 0 8px;
    margin-right: -1px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.available .content .date .saat{
    border: 1px solid gray;
    padding: 12px 16px;
    border-radius: 0px 8px 8px 0px;
    width: 135px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.available button{
    width: 121px;
    height: 48px;
    padding: 12px 36px;
    border-radius: 4px;
    border: none;
    background-color:  #006AFF;
    color: #FFF;
}


